<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/Images/hearts.png" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>Eternal Love</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/Style/styles.css')}}">
</head>
<header>
    <div id="brand">
        <a href="/">Amour eternelle</a>
    </div>

    <script src="/script.js"></script>

</header>

<body>
    <div class="div_container">
        <div class="container" id="intro">
            <Label class="big_Label">Amour <br> Eternelle <br></Label>
            <p class="introParagraph">Strengthen your relationship by reflecting <br>on the important questions<br>
                And get that eternal love!</p>
            <div class="dotted-line"></div>
            <div>
                <ul>
                    <li>30+<br>Questions</li>
                    <li>6000+<br>Positive reviews</li>
                </ul>
            </div>
        </div>

        <div id="createDiv" class="container">
            <form action="{{ url_for('create_room') }}" method="GET">
                <div class="divTitle">Create a Room</div>
                <div>Create a Room with a unique ID for you and your partner</div>
                <input type="submit" value="Create a new room">
            </form>
        </div>


        <div id="joinDiv" class="container">
            <form action="" method="get">
                <div class="divTitle">Join An Already Created Room</div>
                <div>Use an ID provided by your partner to join</div>
                <input type="text" id="oldID">
                <input type="submit" value="Join">

            </form>
        </div>

    </div>

</body>

</html>